<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administration</title>
  <link rel="stylesheet" href="../css/general_styles.css">
  <link rel="stylesheet" href="../css/devices_list.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

  <h2>Administration</h2>
  <div>
    <label class="search-byID" for="search_id">Search by ID</label>
    <input type="number" id="search_id" onkeyup="searchById()">
  </div>

  <div class="container">
    <table class="table">
      <thead class="thead">
        <tr class="first-row">
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Country</th>
          <th scope="col">Account type</th>
          <th scope="col">State</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="tbody">
      </tbody>
    </table>
  </div>

  <script>
    function loadData() {
      fetch('/user')
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to fetch user data');
          }
          return response.json();
        })
        .then(users => {
          document.getElementById("tbody").innerHTML = '';

          users.forEach(user => {
            let tableBody = document.getElementById("tbody");
            let row = tableBody.insertRow();
            row.insertCell(0).textContent = user.email;
            row.insertCell(1).textContent = user.name;
            row.insertCell(2).textContent = user.country;
            row.insertCell(3).textContent = user.acc_type;
            row.insertCell(4).textContent = user.active == 1 ? 'Active' : 'Inactive';

            let editButton = document.createElement("button");
            editButton.classList.add("edit-btn");
            editButton.innerHTML = '<i class="fas fa-edit"></i>';
            editButton.onclick = function() {
              let button_row = editButton.closest('tr');
              const url = `/edit-form?email=${user.email}&name=${user.name}&country=${user.country}&acc_type=${user.acc_type}&active=${user.active}`;
              window.location.href = url;
            };

            let deleteButton = document.createElement("button");
            deleteButton.classList.add("delete-btn");
            deleteButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
            deleteButton.onclick = function() {
              const row = this.closest('tr');
              fetch(`/user/${user.email}/status`, {
                method: 'PUT',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ active: 0 })
              })
              .then(response => {
                if (!response.ok) {
                  throw new Error('Failed to deactivate user');
                }
                row.remove();
                console.log('Desactivate user successfully');
              })
              .catch(error => {
                console.error('Error:', error);
              });
            };

            let actionsCell = row.insertCell(5);
            actionsCell.appendChild(editButton);
            actionsCell.appendChild(deleteButton);
          });
        })
        .catch(error => {
          console.error('Error fetching user data:', error);
        });
    }

loadData();
  </script>
</body>
</html>