<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Analytics</title>
  <link rel="stylesheet" href="../css/general_styles.css">
  <link rel="stylesheet" href="../css/analytics.css">
</head>
<body>
  <div id="container" style="width: 600px; height: 400px;"></div>

  <script>
    function bar() {
      var myChart = echarts.init(document.getElementById('container'));

      var option = {
        title: {
          text: 'ECharts Getting Started Example'
        },
        tooltip: {},
        xAxis: {
          data: ['Shirts', 'Cardigans', 'Chiffons', 'Pants', 'Heels', 'Socks']
        },
        yAxis: {},
        series: [
          {
            name: 'sales',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20],
            itemStyle: {
              color: '#f1cb4b'
            }
          }
        ]
      };

      myChart.setOption(option);
    }

    bar();
  </script>
</body>
</html>
