<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../css/general_styles.css">
  <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>

  <div class="container">
    <section>
      <article id="totalUsage">
        <p>Total Usage: 
          <span id="totalUsageValue"></span>
        </p>
      </article>
      <article>
        <p>Usage limitation</p>
      </article>
    </section>
    
    <article>
      <p>Graphic</p>
    </article>
  </div>

  <script>
    fetch('/dashboard/usage_time')
    .then(response => response.json())
    .then(data => {
      document.getElementById('totalUsageValue').innerText = data.totalUsage + "kWh";
    })
    .catch(error => console.error('Error:', error));
  </script>
</body>
</html>