<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../css/general_styles.css">
  <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>

  <div class="container">
    <section>
      <article id="totalUsage">
        <p>Total Usage 
          <span id="totalUsageValue"></span>
        </p>
      </article>
      <article>
        <p>Usage limitation</p>
        <div id="limitation-container" style="width: 1000px; height: 50px;"></div>
      </article>
    </section>
    
    <article>
      <div id="graph-bar" style="width: 1100px; height: 500px;"></div>
    </article>
  </div>

  <script>
    fetch('/dashboard/usage_time')
    .then(response => response.json())
    .then(data => {
      document.getElementById('totalUsageValue').innerText = data.totalUsage + "kWh";
      updateProgressBar(data.totalUsage);
    })
    .catch(error => console.error('Error:', error));

    function updateProgressBar(value) {
      var maxUsage = 1000; // Define the maximum value
      var percentage = (value / maxUsage) * 100;
    
      var myChart = echarts.init(document.getElementById('limitation-container'));
    
      var option = {
        xAxis: {
          type: 'value',
          max: maxUsage,
          show: false
        },
        yAxis: {
          type: 'category',
          data: [''],
          show: false
        },
        series: [
          {
            type: 'bar',
            data: [value],
            barWidth: '100%',
            itemStyle: {
              color: '#f1cb4b',
              borderRadius: [10, 10, 10, 10]
            },
            label: {
              show: true,
              position: 'outside',
              formatter: function(params) {
                var percentage = (params.value / maxUsage) * 100;
                return percentage.toFixed(2) + '%';
              },
              color: '#fff',
              fontWeight: 'bold',
              position: 'bottom'
            }
          }
        ],
        grid: {
          left: '0%',
          right: '0%',
          top: '0%',
          bottom: '0%',
          containLabel: true
        }
      };
    
      myChart.setOption(option);
    }    
    
    function bar() {
      var myChart = echarts.init(document.getElementById('graph-bar'));

      var option = {
        title: {
          text: 'Energy consumption by device'
        },
        tooltip: {},
        xAxis: {
          data: ['Lights', 'Appliances', 'Air conditioning', 'Electronics', 'Others']
        },
        yAxis: {
          name: 'kWh'
        },
        series: [
          {
            name: 'Consumo',
            type: 'bar',
            data: [150, 230, 224, 218, 135],
            itemStyle: {
              color: '#8871fa',
              borderRadius: [10, 10, 10, 10]
            }
          }
        ]
      };

      myChart.setOption(option);
    }

    bar();
  </script>
</body>
</html>
