<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot password</title>
  <link rel="stylesheet" href="../css/general_styles.css">
  <link rel="stylesheet" href="../css/forgot_password.css">
</head>
<body>
  <div class="container_password">
    <form action="">
      <h2>Recovery password</h2>
      <input type="email" placeholder="Type your email" required>
      <button type="submit">Send</button>
    </form>
  </div>
</body>
</html>