<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <nav>
    <span>Envirosense</span>

    <ul class="nav_options">
      <li>
        <svg id="lightmode_icon"  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#000"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-sun"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
      </li>
      
      <li>
        <a href="/about">About us</a>
      </li>
      
      <li>
        <a href="/register">Sign up</a>
      </li>
    </ul>
  </nav>

  <main>

    <article>
      <h1>Transform your consumption into data</h1>
      <p>Envirosense is an innovative virtual platform designed to address the problem of inefficient energy consumption in homes and businesses.</p>
      <aside>
        <div>
          <p><span>+</span>2000</p>
          <span>reviews</span>
        </div>
        <div>
          <p><span>+</span>400</p>
          <span>companies</span>
        </div>
        <div>
          <p><span>-</span>75%</p>
          <span>consumption</span>
        </div>
      </aside>
    </article>

    <form action="/login" method="POST">
      <h2>Login now</h2>
  
      <div class="container_input">
        <label for="email_input">Email</label>
        <input id="email_input" name="email" type="email" placeholder="Enter your email" autocomplete="off" required>
      </div>
  
      <div class="container_input container_pass">
        <label for="password_input">Password</label>
        <input id="password_input" name="password" type="password" placeholder="Enter your password" required minlength="8">
        <span></span>
      </div>
  
      <div class="separate_div">
        <label for="rem_input">
          <input id="rem_input" name="rem_input" type="checkbox" checked> Remember me
        </label>
        <a href="/forgot">Forgot password?</a>
      </div>
  
      <button type="submit">Log In</button>
    </form>
  </main>

  
</body>
</html>