<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>

  <form action="/index" method="POST">
    <p>Login now</p>

    <label for="email_input">Email
      <input id="email_input" type="email" placeholder="Enter your email" required>
    </label>

    <label for="password_input">Password
      <input id="password_input" type="password" placeholder="Enter your password" required minlength="8">
    </label>

    <div>
      <label for="rem_input">
        <input id="rem_input" type="checkbox" checked>Remember me
      </label>
      <a href="#">Forgot password?</a>
    </div>

    <button type="submit">Log in</button>

    <p>Don't have an account? -
      <a href="/register">Sign up</a>
    </p>
  </form>
  
</body>
</html>