<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/font.css">
</head>
<body>

  <form action="/main" method="POST">
    <h2>Login now</h2>

    <div class="separate_div">
      <label for="email_input">Email</label>
      <input id="email_input" type="email" placeholder="Enter your email" required>
    </div>

    <div class="separate_div">
      <label for="password_input">Password</label>
      <input id="password_input" type="password" placeholder="Enter your password" required minlength="8">
    </div>

    <div class="separate_div">
      <label for="rem_input">
        <input id="rem_input" type="checkbox" checked>Remember me
      </label>
      <a href="#">Forgot password?</a>
    </div>

    <button type="submit">Log in</button>

    <p>Don't have an account? -
      <a href="/register">Sign up</a>
    </p>
  </form>
  
</body>
</html>