<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <aside>

    <div>
      <span>Envirosense</span>
    </div>

    <hr>

    <nav>

      <ul>
        <li>
          <!-- Icon here -->
          <span>Dashboard</span>
        </li>

        <li>
          <!-- Icon here -->
          <span>Monitoring</span>
        </li>

        <li>
          <!-- Icon here -->
          <span>Hardware</span>
        </li>

        <li>
          <!-- Icon here -->
          <span>Analytics</span>
        </li>
      </ul>

      <ul>
        <li>
          <!-- Icon here -->
          <span>Settings</span>
        </li>
        <li>
        <a href="/">
          <!-- Icon here -->
          <span>Log out</span>
        </a>
        </li>
      </ul>
    </nav>
  </aside>

  <main>
    <!--- Sections -->
  </main>
  
</body>
</html>