<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="../css/register.css">
  <link rel="stylesheet" href="../css/general_styles.css">
</head>

<body>

  <form action="/register" method="POST">
    <h1>Register</h1>

    <div class="container_input">
      <label for="name_input">Name</label>
      <input placeholder="Type a name" id="name_input" name="name" type="text" minlength="3" maxlength="30" required autocomplete="off">
    </div>

    <div class="container_input">
      <label for="email_input">Email</label>
      <input placeholder="Type an email" id="email_input" name="email" type="email" required autocomplete="off">
    </div>

    <div class="container_input">
      <label for="password_input">Password</label>
      <input placeholder="Type a password" id="password_input" name="password" type="password" minlength="8" required>
    </div>

    <div class="container_input">
      <label for="country_input">Country</label>
      <select name="country" id="country_input">
        <option value="colombia">Colombia</option>
        <option value="mexico">Mexico</option>
        <option value="usa">USA</option>
        <option value="españa">España</option>
        <option value="brasil">Brasil</option>
      </select>
    </div>

    <label class="account_label">Account type:</label>

    <div class="container_radio">
      <div>
        <input id="personal" name="acc_type" value="personal" type="radio" required checked>
        <label for="personal">Personal</label>
      </div>
      <div>
        <input id="business" name="acc_type" value="business" type="radio">
        <label for="business">Business</label>
      </div>
    </div>

    <button type="submit">Register</button>

    <a role="button" href="/">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
    </a>

  </form>

</body>

</html>