<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="../css/general_styles.css">
  <link rel="stylesheet" href="../css/settings.css">
</head>
<body>
  <div class="container">
    <div>
      <h1>Settings</h1>
      <ul>
        <li>
          <label for="">Theme</label>
          <!-- Toggle switch -->
        </li>
        <li>
          <p>Select language</p>
          <div>
            <input type="radio" name="language" id="english" checked>
            <label for="english">English</label>
            <input type="radio" name="language" id="espanol">
            <label for="espanol">Español</label>
          </div>
        </li>
        <li>
          <input type="checkbox" name="active_notification" id="active_not">
          <label for="active_not">Active notification</label>
        </li>
        <li>
          <p>Data input</p>
          <div>
            <input type="radio" name="data_input" id="watts" checked>
            <label for="watts">Watts</label>
            <input type="radio" name="data_input" id="hz">
            <label for="hz">Hz</label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>