.container {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section {
  width: 100%;
  height: 20%;
  display: flex;
  gap: 10px;
}

article {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

section article {
  text-align: center;
}

section article:first-child {
  width: 200px;
}

section article:last-child {
  flex: 1;
}

section + article {
  flex: 1;
}