.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  overflow: auto;
  padding: 0 30px;
  flex-direction: column;
}

h2 {
  margin: 20px 0;
  text-align: left;
}

h2 + div {
  padding: 0 50px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th, td {
  border: .5px solid #000;
  padding: 5px;
  font-size: 0.75rem;
  text-align: center;
  color: var(--light-yellow);
}

tr {
  background-color: var(--container);
} 

tr:nth-child(odd) {
  background-color: var(--container);
}

th {
  font-weight: 600;
}

.thead {
  position: relative;
}

table thead .first-row {
  position: sticky;
  background-color: var(--purple);
  top: 0;
  left: 0;
}

td button {
  margin-left: 5px;
  background-color: var(--light-purple);
}

.col-id {
  background-color: var(--container);
}

input {
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--container);
  padding: 0.3rem;
  width: 100%;
  border-width: 1px;
  border-color: var(--container);
  border-radius: 0.375rem;
}