@import url('general_styles.css');

body {
  /* background-color: var(--dark-mode); */
  color: var(--text-dark-mode);
  background-image: linear-gradient(to bottom, var(--dark-mode-shadow), var(--dark-mode));
  overflow: hidden;
}

nav svg {
  /* border-bottom: 1px solid var(--dark-mode-shadow); */
  stroke: var(--yellow);
  /* color: var(--yellow); */
}

nav span {
  color: var(--yellow);
}

nav a {
  color: var(--yellow);
}

nav ul svg, nav ul li:nth-child(2) a {
  transition: color .3s ease;
  &:hover {
    color: var(--light-yellow);
    stroke: var(--light-yellow);
  }
}

nav ul li:last-child a {
  /* border: 1px solid var(--yellow); */
  padding: 8px 30px;
  background-image: radial-gradient(circle, var(--light-yellow), var(--yellow));
  color: var(--dark-mode);
  font-weight: 700;
  border: none;
  transition: box-shadow .1s ease-in 0s;
  &:hover {
    box-shadow: 0 0 8px var(--light-yellow);
  }
}

h1 {
  background-image: linear-gradient(to right, var(--light-purple), var(--yellow));
  background-clip: text;
  color: transparent;
}

aside span {
  color: var(--yellow);
}

form {
  background-color: var(--dark-mode);
  color: var(--yellow);
  border: 1px solid var(--yellow);
  /* box-shadow: var(--shadow-out) var(--dark-mode-shadow); */
}

form input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--light-yellow);
}

label[for='email_input'], label[for='password_input'] {
  font-weight: 600;
}

.separate_div > a {
  color: var(--light-purple);
}

.separate_div > label {
  color: var(--text-dark-mode);
  & input {
    accent-color: var(--light-purple);
  }
}

.separate_div a {
  opacity: 0.7;
  color: var(--light-purple);
}

form button {
  /* background-image: radial-gradient(circle, var(--yellow), var(--light-purple)); */
  background-color: var(--yellow);
  /* border: 1px solid var(--yellow); */
  color: var(--dark-mode);
  font-weight: 700;
  /* transition: background-color var(--transition); */
  transition: background .3s ease-in-out;
  &:hover {
    background: var(--light-yellow);
  }
}

form .container_pass {
  position: relative;
}

form span {
  display: inline-block;
  width: 22px;
  height: 22px;
  /* color: yellow; */
  position: absolute;
  background-image: url('../img/eye_icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  right: 5px;
  bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}