@import url('general_styles.css');

aside {
  background-color: var(--dark-mode);
  border-right: 1px solid var(--light-purple);
  margin-right: 1px;
}

aside nav {
  color: #fff;
}

aside hr {
  border-color: var(--light-purple);
}

.top span, nav div:first-child ul li svg {
  color: var(--yellow);
}

nav div:last-child ul li:last-child svg {
  color: var(--red);
}

nav div:last-child ul li:first-child svg {
  color: var(--gray);
}

nav div:first-child ul li a {
  color: var(--light-yellow);
  border: 1px solid var(--yellow);
  transition: background-color .2s ease;
  &:hover {
    background-color: var(--dark-yellow);
  }
}

nav div:last-child ul li:last-child a {
  color: var(--light-red);
  border: 1px solid var(--red);
  transition: background-color .2s ease;
  &:hover {
    background-color: var(--dark-red);
  }
}

nav div:last-child ul li:first-child a {
  color: var(--light-gray);
  border: 1px solid var(--gray);
  transition: background-color .2s ease;
  &:hover {
    background-color: var(--dark-gray);
  }
}